@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish, sans-serif;
}

.sidebar {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.navbar-brand {
  font-size: 1.9rem;
  color: #565387 !important;
}
.navbar a {
  font-size: 1.1rem !important;
  text-transform: capitalize;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover {
  color: #3498db !important;
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 36px;
  font-weight: 700;
  color: black;
}
#header .brand-name {
  color: #3498db;
}
#header h2 {
  color: #484848;
  font-size: 24px;
}
#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 50px;
  display: inline-block;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}
#header .btn-get-started:hover {
  background: #3498db;
  color: #fff;
}
.header-img {
  text-align: right;
}
#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
#form .btn-register {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 50px;
  display: inline-block;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}
#form .btn-register:hover {
  background: #3498db;
  color: #fff;
}
#form h1 {
  font-size: 26px;
  font-weight: 700;
  color: #3498db;
  margin-top: 10px;
  margin-bottom: 30px;
}
#form .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.Signup-form {
  margin-top: 40px;
}

.sidebar {
  height: 100vh;
  background-color: white;
  border: 1px solid #ecf0f1;
  color: black;
}

.bottom-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  transition: all 0.4s;
}
.dropdown-item:hover {
  background-color: transparent !important;
}
.sidebar-link {
  color: blue;
}

.current:hover {
  color: rgb(105, 146, 221);
}
.top-navbar {
  border: 1px solid #ecf0f1;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto;
  }

  .top-navbar {
    position: static;
  }
}
/* end of navbar */

/* cards */
.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all 0.4s;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}
/* end of cards */
